@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Raleway&display=swap');

* {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/static/leaves2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  position: relative;
}

.header_heading-container {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;

}

.header_heading-container h1 {
  font-size: 220px !important;
  font-family: 'Parisienne', cursive !important;
  font-weight: 200;
  line-height: 210px;
}

.header_heading-container h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: lighter;
  color: whitesmoke
}

.gold {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: lighter;
  color: #C5B358 !important;
}

.form_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  position: relative;
  background-color: whitesmoke;

}

.form_form-container {
  display: flex;
  flex-direction: row;
  border: solid 2px #435926;
  position: relative;
  padding-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 10;
}

.form_form-container h1 {
  position: absolute;
  top: -2rem;
  left: -1rem;
  font-size: 60px;
  font-family: 'Parisienne', cursive;
  color: #435926;
}

.form_form-list-container {
  display: flex;
  flex-direction: column;
}

.form_form-list-container a {
  background-color: whitesmoke;
  box-shadow: none;
  padding: 1rem 1rem 1.15rem 1rem;
  margin: 1rem;
  color: #435926;
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  border-bottom: 0.5px solid #435926;
}

.form_form-container form {
  display: flex;
  flex-direction: column;

}

.form_form-container form input {
  background-color: whitesmoke;
  box-shadow: none;
  border: 1px solid #435926;
  padding: 1rem;
  margin: 1rem;
  font-family: 'Raleway', sans-serif;
}

.form_form-container form select {
  background-color: whitesmoke;
  box-shadow: none;
  border: 1px solid #435926;
  padding: 1rem;
  margin: 1rem;
  color: #435926;
  font-family: 'Raleway', sans-serif;
}

input,
select,
textarea {
  color: #435926;
  font-size: 28px;
}

@media screen and (max-width: 450px) {

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/static/leaves2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
  }

  .header_heading-container {
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;

  }

  .header_heading-container h1 {
    text-align: center;
    font-size: 150px !important;
    font-family: 'Parisienne', cursive !important;
    font-weight: 200;
    line-height: 140px;
  }

  .header_heading-container h2 {
    padding-top: 2rem;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: lighter;
    color: whitesmoke
  }

  .gold {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: lighter;
    color: #C5B358 !important;
  }

  .form_container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: whitesmoke;

  }

  .form_form-container {
    display: flex;
    flex-direction: row;
    border: solid 2px #435926;
    position: relative;
    padding-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 10;
    width: 100%;
  }

  .form_form-container h1 {
    position: absolute;
    top: -3rem;
    left: 2rem;
    font-size: 60px;
    font-family: 'Parisienne', cursive;
    color: #435926;
  }

  .form_form-list-container {
    display: flex;
    flex-direction: column;
  }

  .form_form-list-container a {
    background-color: whitesmoke;
    box-shadow: none;
    padding: 1rem 1rem .5rem 1rem;
    margin: 1rem;
    color: #435926;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    border-bottom: 0.5px solid #435926;
  }

  .form_form-container form {
    display: flex;
    flex-direction: column;

  }

  .form_form-container form input {
    background-color: whitesmoke;
    box-shadow: none;
    border: 1px solid #435926;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Raleway', sans-serif;
  }

  .form_form-container form select {
    background-color: whitesmoke;
    box-shadow: none;
    border: 1px solid #435926;
    padding: 1rem;
    margin: 1rem;
    color: #435926;
    font-family: 'Raleway', sans-serif;
  }

  input,
  select,
  textarea {
    color: #435926;
    font-size: 14px;
  }

}